body {
	font-family: NanumGothic, 나 눔 고 딕, "Malgun Gothic", "맑은 고딕", sans-serif;
}

.small-image {
	width: 100px;
	height: 100px;
	background: aqua;
}

.large-image {
	width: 750px;
	height: 250px;
	background: gray;
	display: inline-block;
}

.mt20 {
	margin-top: 20px;
}

input,button,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover,a:focus {
	color: #2a6496;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

img {
	vertical-align: middle;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.img-rounded {
	border-radius: 6px;
}

.img-thumbnail {
	display: inline-block;
	height: auto;
	max-width: 100%;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.img-circle {
	border-radius: 50%;
}